<!DOCTYPE html>
<html lang="ml">
<head>
    <meta charset="UTF-8">
    <title>മുഖശാസ്ത്രം | Face Commenter</title>
</head>
<body style="text-align: center; background-color: #5eff00; color: rgb(0, 0, 0);">
    <h1>🔮 മുഖശാസ്ത്രം 🔮</h1>
    <p>Scan your face & hear a random Malayalam comment!</p>

    <video width="640" height="480" controls autoplay loop>
        <source src="{{ url_for('static', filename='ur file') }}" type="video/mp4">
        നിങ്ങളുടെ ബ്രൗസർ വീഡിയോ ടാഗ് പിന്തുണയ്ക്കുന്നില്ല.
    </video>

    <form action="/start-scan" method="post">
        <button type="submit">മുഖം സ്‌കാൻ ചെയ്യൂ</button>
    </form>
</body>
</html>

