<!DOCTYPE html>
<html lang="ml">
<head>
    <meta charset="UTF-8">
    <title>മുഖശാസ്ത്രം | Face Commenter</title>
</head>
<body style="text-align: center; background-color: #5eff00; color: rgb(0, 0, 0);">
    <h1>🔮 മുഖശാസ്ത്രം 🔮</h1>
    <p>Scan your face & hear a random Malayalam comment!</p>
   <video width="640" height="480" controls autoplay loop>
    <source src="C:\Users\ssour\OneDrive\Desktop\useless\static\com.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video><form action="/start-scan" method="post">
        <input type="text" placeholder="Search for a location" class="search_area"/>
        <button type="submit">Start Face Scan</button> 
    </form>
</body>
</html>
